.BXH {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.STT {
    font-size: 20px;
}

/* nếu đc chọn thì thêm thuộc tính này vào hàng đó */

.choice {
    color: rgb(77, 190, 77);
}

.hov:hover {
    background-color: rgb(236, 229, 229);
}