
.queueContainer {
  width: 100%;
  background: #222229;
  border-radius: 2px;
  padding: 1.5rem 1rem;
  border: 1px #3c3c3c solid;

  .queueItem {
    padding: 0.25rem 1rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .queueId {
      min-width: 5%;
      max-width: 5%;

      i {
        display: none;
      }
    }

    .queueMain {
      min-width: 50%;
      display: flex;
      gap: 0.5rem;
      max-width: 50%;
      height: 50px;

      > img {
        height: 100%;
        border-radius: 10%;
      }
    }

    .queueTitle {
      width: 30%;
    }

    .queueOther {
      width: 15%;

      i {
        margin-left: 1rem;
        cursor: pointer;
        display: none;

      }
    }

    &:hover, &:focus {
      background: #2c2c35;
      i {
        display: initial;
      }

      .queueId {
        span {
          display: none;
        }
      }
    }

  }
}

.mainQueue {
  display: none;
}

main {
  &[data-pane = "QUEUE"] {
    .mainQueue {
      display: block;
    }
  }
}

