

#sidebar {
  position: sticky;
  top: 0;
  left: 0;
  container-type: inline-size;

  width: 280px;
  min-width: 50px;
  background: var(--background-color);
  height: 100vh;
  padding: 20px;
  z-index: 1;

  ul {
    list-style-type: none;
    padding-top: 40px;
  }

  li {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;

    &:hover {
      cursor: pointer;
      color: var(--font-color);
    }

    span {
      padding-left: 20px;
      @container (width < 100px) {
        display: none;
      }
    }
  }

  .not-clicked {
    color: var(--font-color-fade);
  }

  .clicked {
    color: var(--font-color);
  }

  @container (width < 100px) {
    span {
      display: none;
    }
    ul {
      padding: 0 0;
    }
    img {
      display: none;
    }
  }


}

