<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-12">
        <div class="img">
          <img src="/Src/Client/img/Premium/spotify_logo.png" alt="logo-spotify" style="width: 100%">
        </div>
      </div>

      <div class="col-lg-7 col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <ul class="list-unstyled footer-li">
              <li>COMPANY</li>
              <li><a href="#" class="link-light text-decoration-none">Introduce</a></li>
              <li><a href="#" class="link-light text-decoration-none">Job</a></li>
              <li><a href="#" class="link-light text-decoration-none">For the Record</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <ul class="list-unstyled footer-li">
              <li>COMMUNITY</li>
              <li><a href="#" class="link-light text-decoration-none">For Artists</a></li>
              <li><a href="#" class="link-light text-decoration-none">Developers</a></li>
              <li><a href="#" class="link-light text-decoration-none">Advertisement</a></li>
              <li><a href="#" class="link-light text-decoration-none">Investors</a></li>
              <li><a href="#" class="link-light text-decoration-none">Supplier</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <ul class="list-unstyled footer-li">
              <li>USEFUL LINKS</li>
              <li><a href="#" class="link-light text-decoration-none">Support</a></li>
              <li><a href="#" class="link-light text-decoration-none">Web Player</a></li>
              <li><a href="#" class="link-light text-decoration-none">Free Mobile Apps</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-12">
        <div id="social-media" class="d-flex">
          <div class="social-media-icon d-flex justify-content-center rounded-circle">
            <img src="/Src/Client/img/Premium/instagram.svg" alt="instagram">
          </div>
          <div class="social-media-icon d-flex justify-content-center rounded-circle">
            <img src="/Src/Client/img/Premium/twitter.svg" alt="twitter">
          </div>
          <div class="social-media-icon d-flex justify-content-center rounded-circle">
            <img src="/Src/Client/img/Premium/facebook.svg" alt="facebook">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>