<header>
  <div id="mySidenav" class="sidenav">
    <div id="sidenav-wrapper">
      <div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Premium</a>
        <a href="#">Support</a>
        <a href="#">Download</a>
        <div class="separator"></div>
        <a href="/Home/signUp" class="fw-normal">Sign up</a>
        <a href="/Home/signIn" class="fw-normal">Log in</a>
      </div>

      <div class="img">
        <a href="/Home"><img src="/Src/Client/img/Premium/spotify_logo.png" alt="logo-spotify" style="width: 100%;"> </a>
      </div>
    </div>
  </div>
  <!--        Navbar -->
  <div id="navbar">
    <div class="container" id="nav">
      <div class="img">
        <a href="/Home"><img src="/Src/Client/img/Premium/spotify_logo.png" alt="logo-spotify" style="width: 100%"></a>
      </div>

      <div id="navigation" class="d-none d-lg-block">
        <span>Premium</span>
        <span>Support</span>
        <span>Download</span>
        <span>|</span>
        <a href="/Home/signUp" style="all: unset">
          <span>Sign up</span>
        </a>
        <a href="/Home/signIn" style="all: unset">
          <span>Log in</span>
        </a>
      </div>

      <div id="menu-bar" class="d-block d-lg-none" onclick="openNav()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </div>
  <!--        End Navbar -->
</header>