@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto:wght@700&display=swap");
.homeIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f015";
}

.editIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f303";
}

.lockIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f023";
}

.bellIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f0f3";
}

.cardIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f09d";
}

.reloadIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f2f9";
}

.clockRotateLeftIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f1da";
}

.puzzlePieceIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f12e";
}

.giftIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font: var(--fa-font-solid);
  content: "\f06b";
}

:root {
  --lyric-transistion-time: 300ms;
}

body {
  background: black;
}

.lyricMain {
  font-family: "Roboto", sans-serif, "Noto Sans JP", sans-serif;
  overflow-y: scroll;
  transition: all var(--lyric-transistion-time) ease-in-out;
  font-size: 2rem;
  --lyricActivateColor: rgba(255, 255, 255, 0.79);
  color: gray;
}
.lyricMain::-webkit-scrollbar {
  display: none;
}
.lyricMain > div[data-state=ACTIVE] {
  color: var(--lyricActivateColor);
  text-shadow: 0 0 7px #fff;
  transition: all var(--lyric-transistion-time) ease-in-out;
}
.lyricMain > div[data-state=ACTIVATED] {
  color: var(--lyricActivateColor);
  transition: all var(--lyric-transistion-time) ease-in-out;
}
.lyricMain > div[data-state=INACTIVE] {
  color: gray;
  transition: all var(--lyric-transistion-time) ease-in-out;
}
.lyricMain > div {
  cursor: pointer;
}
@media (max-width: 780px) {
  .lyricMain > div {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .lyricMain > div {
    font-size: 1rem;
  }
}
.lyricMain > div:hover {
  color: white;
  transition: all var(--lyric-transistion-time) ease-in-out;
}

.lyricImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  filter: blur(60px);
  background-size: cover;
  background-blend-mode: luminosity;
  opacity: 0;
  transform-origin: center center;
}

.lyricImgAnimation {
  animation: scale-in 500ms linear forwards;
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.audioPlayerBar {
  --audioPlayerBackground: rgba(34, 36, 47, 0.4);
  position: fixed;
  border-radius: 0.5rem;
  width: 90%;
  height: 75px;
  background: var(--audioPlayerBackground);
  z-index: 4;
  bottom: 1rem;
}

.songRange {
  --audioSliderBackground: #4d4f57;
  -webkit-appearance: none;
  margin: 0 1rem;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #75fba9 0, #75fba9 var(--pos), var(--audioSliderBackground) var(--pos));
}
.songRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 4px #303039 solid;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.songRange::-webkit-slider-thumb:hover {
  border: 2px black solid;
  transition: all 200ms ease-in-out;
}

.repeatIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font-family: "bootstrap-icons", serif;
  padding-right: 0;
  content: "\f813";
  transition: color 300ms ease-in-out;
}

.volumeIcon:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
  font-family: "bootstrap-icons", serif;
  padding-right: 0;
  font-family: "bootstrap-icons", serif;
  content: "\f610";
  font-size: 1.5rem;
}

.shuffle:before {
  transition: color 300ms ease-in-out;
}

.lyricBtn {
  cursor: pointer;
}

.mediaControl {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.75rem;
}
.mediaControl > * {
  margin: 0 0.75rem;
}
.mediaControl > i {
  cursor: pointer;
}
.mediaControl .playBtn {
  cursor: pointer;
  display: block;
}
.mediaControl .pauseBtn {
  cursor: pointer;
  display: none;
}
.mediaControl[data-played=TRUE] .pauseBtn {
  display: block;
}
.mediaControl[data-played=TRUE] .playBtn {
  display: none;
}
.mediaControl[data-shuffle=TRUE] .shuffle:before {
  color: #4CAF50;
  transition: color 300ms ease-in-out;
}
.mediaControl[data-repeat=ONE] .repeatIcon:before {
  color: #4CAF50;
  content: "\f812";
  transition: color 300ms ease-in-out;
}
.mediaControl[data-repeat=ALL] .repeatIcon:before {
  color: #4CAF50;
  transition: color 300ms ease-in-out;
}

.mainLyric {
  display: none;
}

.songRangeContainer {
  display: flex;
  color: white;
}

.paneBtn {
  cursor: pointer;
}

.volumeQueueArea {
  z-index: 1;
  min-width: 25%;
  max-width: 25%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.volumeQueueArea > * {
  margin-right: 1rem;
}
.volumeQueueArea[data-muted=TRUE] .volumeIcon:before {
  content: "\f60c";
}
.volumeQueueArea .songRange {
  background-image: linear-gradient(to right, #75fba9 0, #75fba9 var(--audioPos), var(--audioSliderBackground) var(--audioPos));
}

main[data-pane=LYRIC] .lyricBtn {
  color: #4CAF50;
}
main[data-pane=LYRIC] .mainLyric {
  display: block;
}
main[data-pane=QUEUE] .paneBtn {
  color: #4CAF50;
}
main[data-pane=QUEUE] .mainQueue {
  display: block;
}

.img100 {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10%;
}

/*# sourceMappingURL=Lyric.css.map */
